<h3>Charactes</h3>
<hr />
<ul class="list-group">
  <li
    *ngFor="
      let c of characters;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast
    }"
  >
    <div>
      <span class="text-primary mx-2">{{ i + 1 }}</span>
      <span>{{ c.name }} - </span>
      <span class="fw-bold">Power: </span>
      <span>{{ c.power | number }}</span>
    </div>
    <a
      href=""
      (click)="$event.preventDefault(); onDelete(i)"
      class="text-danger"
    >
      <span class="material-symbols-outlined"> delete </span>
    </a>
  </li>
</ul>
