<h3>Charactes</h3>
<hr />
<ul class="list-group">
  <li
    *ngFor="
      let c of characters;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast
    }"
  >
    <span class="text-primary">{{ i + 1 }}</span>
    <span>{{ c.name }} - </span>
    <strong>Power: </strong>
    <span>{{ c.power | number }}</span>
  </li>
</ul>
