<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <app-characters [data]="characters"></app-characters>
  </div>
  <div class="col">
    <h3>Add</h3>
    <hr />
    <form (ngSubmit)="add()">
      <input
        type="text"
        placeholder="Enter Name"
        name="name"
        [(ngModel)]="newCharacter.name"
      />
      <input
        type="number"
        placeholder="Enter Power"
        name="power"
        [(ngModel)]="newCharacter.power"
      />
      <button type="submit">Add</button>
    </form>
  </div>
</div>
